.thing-form {
    margin: 20px 0;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero-holder {
    background: #383838;
    color: #f8f8f8;
}

#banner h1 {
    font-size: 80px;
    line-height: 1;
    letter-spacing: -5px;
    /*font-weight: 300;*/
    font-weight: bold;
    font-family: helvetica;
}

.lead {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -3px;
    /*font-weight: 300;*/
    opacity: 0.55;
    font-family: helvetica;
    color: white;
    /*color: white; */
}

.hero-unit {
    /*position: relative;*/
    padding: 0;
    height: 200px;
    /*background: #F8F8F8;*/
    overflow: hidden;
    /*color: white;*/
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);*/
    /*background: #505050;*/
    /*border-bottom: 1px solid #D8D8D8;*/
}

.left-header {
    padding-top: 0px;
    height: 100%;
    /*background: url(http://images.fineartamerica.com/images-medium-large-5/1-zen-garden-dirk-ercken.jpg) no-repeat;
    background-position: -150px -200px;
    background-attachment: fixed;*/
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.page-header {
    text-align: center;
}

.left-padding {
    padding-left: 50px;
}

.left-holder {
    box-sizing: border-box;
    width: 50%;
    /*padding-left: 50px;*/
    float: left;
}

.right-holder {
    box-sizing: border-box;
    width: 50%;
    float: right;
    position: relative;
}

.left-border {
    border-left: 1px solid #D8D8D8;
}

.help-others {
    width: 100%;
    display: block;
    /*background: grey;*/
    opacity: 0.3;
    padding-top: 70px;
    padding-left: 100px;
    padding-bottom: 100px;
    /*text-align: center;*/
    font-family: helvetica, arial, sans-serif;
    font-size: 45px;
    letter-spacing: -3px;
    font-weight: 300;
    /*color: white;*/
    color: black;
}

.help-others:hover{
    text-decoration: none;
    color: black;
    opacity: 1;
    /*background: #f8f8f8;*/
}

.help-others::after {
    content: "";
    width: 50; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #585858;
    font-size: 0px;
    right: 110px;
    margin-top: -55px;
    position: absolute;
    display: block;
}

.form-control {
    margin: 0;
    /*border: 0;*/
    /*box-shadow: none;*/
    font-family: helvetica, arial, sans-serif;
    /*font-size: 24px;*/
}

.input-title {
    height: 250px;
    outline: none !important;
    box-shadow: none;
    font-size: 50px;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: -3px;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0.85;
    border: 0;
}

.input-text-model {
    box-shadow: none;
    margin: 0;
    padding-top: 50px;
    font-size: 17px;
    padding-right: 25px;
    border: 0;
    height: 200px;
}
.input-text-model:focus {
    box-shadow: none;
}

.text-preview {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 35px;
    overflow: hidden;
    opacity: 0.85;
    background: rgb(240,240,240);
    font-size: 16px;
    min-height: 650px;
}

.input-title:focus{
    outline: none;
    box-shadow: none;
    opacity: 1;
}

.input-summary{
    box-shadow: none;
    /*background: #404040;*/
    border: 0;
    border-top: 1px solid #D8D8D8;
    /*color: white;*/
    border-radius: 0px;
    font-family: helvetica, arial, sans-serif;
    font-size: 17px;
    opacity: 0.8;
    padding-top: 50px;
    height: 140px;
}

.input-summary:focus {
    box-shadow: none;
}

.site-info {
    height: 250px;
    /*border-bottom: 1px solid #D8D8D8;*/
    padding-top: 25px;
    font-family: helvetica, arial, sans-serif;
    font-size: 17px;
    opacity: 0.75;
    max-width: 400px;
    padding-left: 100px;
    position: relative;
}
/*
a, :visited{ 
    outline: 0;
    outline: none;
    box-shadow: none;
}
:hover, :active, :focus{
    outline: 0;
    outline: none;
    box-shadow: none;
}
*/
.blurb {
    margin-bottom: 25px;
}

.emphasize {
    font-weight: bold;
}

.emphasize::after {
    content: "";
    width: 50; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #585858;
    font-size: 0px;
    margin-left: -60px;
    margin-top: -50px;
    position: absolute;
    display: block;
}

.auth-button {
    position: absolute;
    top: 95px;
    background: #4682B4;
    padding: 15px;
    color: white;
    right: 25px;
    font-size: 16px;
    border-radius: 3px;
    font-family: helvetica, arial, sans-serif;
}

.auth-button:hover {
    text-decoration: none;
    color: white;
}

.no-resize {
    resize: none;
}

.btn-hero {
    font-size: 34px;
    margin-left: 22%;
    font-weight: bold;
    letter-spacing: -1.5px;
    width: 133px;
    margin-left: 50px;
    margin-top: 50px;
    display: block;
    font-family: helvetica, arial, sans-serif;
}

/*.pencil-img {
    background: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/glossy-black-icons-business/080859-glossy-black-icon-business-pencil8.png) no-repeat;
    background-size: 50px 50px;
    background-position: 45px 40px;
}

.pencil-img:focus {
    background: none;
}*/

.darkgreyed {
    background: #E8E8E8;
    color: white;
}

.bordered {
    /*border-top: 3px solid #585858;*/
    border-bottom: 3px solid #585858;
    border-left: 3px solid #585858;
    /*border-bottom: 1px solid #585858;*/
    border-radius: 0px;
}

.form-group {
    margin: 0;
}
