<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3 class="page-header">Your Outstanding Help Requests <a href="/submission"></a></h3>
      <div class="span3" ng-repeat="request in user.helpRequests | orderBy: '-createdAt'">
      <a class="list-item" ng-click="loadHelpRequest(request.id)">
       <div class="listing-item-icon"><i class="icon-book icon-3x"></i></div>
        <div class="dash-helpRequest dash-list-item">
          <div class="request-title"> <strong>{{request.title}}</strong></div>
            <div>Created: {{request.createdAt | date:'MM-dd-yyyy'}} </div>
            <div>Created By: {{request.username}} </div>
        </div>
       </a>
     </div>
    </div>

    <div class="col-lg-6">
      <h3 class="page-header">Your contributions <a href="/allHelpRequest"></a></h3>
      <div class="span3" ng-repeat="contribution in user.contributions | orderBy: '-origDate'">
      <a class="list-item"  ng-click='loadContribution(contribution.id)'> 
       <div class="listing-item-icon"><i class="icon-book icon-3x"></i></div>
        <div class="dash-helpRequest dash-list-item">
            <div>{{contribution.textSnippet.substr(0,40)}}</div>
            <div>Created: {{contribution.origDate | date:'MM-dd-yyyy'}}</div>
          </div>
        </div>
      </a>
    </div>
    </div>
  </div>
 </div> 
</div> 

