.search-list-item {
  padding: 5px 5px;
  margin-bottom: 10px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 10px;
  //width: 70%;
  //margin: 20px auto;
}

.search-list-item:hover {
  cursor: pointer;
  //background-color: #448BCA;
  border: 1px solid #000;
}

a.search-item {
  color: #313131;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  text-align: left;
  float: left;
  cursor: pointer;
}
a.search-item:hover {
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
}

.listing-item-icon {
  width: 70px;
  float: left;
  text-align: center;
  padding-top: 10px;
}

.result-title {
  margin-top: 5px;
}

.divider {
  margin: 10px 0 30px 0;
  color: #313131;
}