<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <h2>Discover Projects</h2>
    <hr class="divider">

    <form name="searchForm" ng-submit="search()" novalidate>
      <input type="text" class="searchField" placeholder="Search by project name or owner" ng-model="searchString" id="string" name="string" required> 
      <input type="submit" class="btn btn-primary" value="search" ng-disabled="searchForm.$invalid">
    </form>
    <hr class="divider">
    <!-- <h2 class="page-header">Find Writing to Contribute To</h2> 
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <a class="btn btn-success btn-md" ng-click="getRecentlySubmitted()">See Recent Help Requests</a>
      <h2>or</h2>
        -->
    <!-- </div> -->
  </div>

  <div class="row">
    <div class="col-lg-4" ng-repeat="result in resultList | limitTo: 24 | orderBy: '-origDate'">
      <a class="search-item" ng-click='loadHelpRequest(result.id)'>
     ch
      <div>
        <div class="result-title"><strong>{{result.title}}</strong></div>
        <span>Created: {{result.origDate | date:'MM-dd-yyyy'}}</span>
        <span>Created by {{result.username}}</span>
      </div>
      </a>
    </div>
  </div>

</div>
